$c1: #3a8999;
$c2: #e84a69;

.main-grid{
  display: grid;
  background-color: red;
  width: 100%;
  grid-template-columns: 1fr minmax(0, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
  "item-1 item-1"
  "item-3 item-4";
}

@media only screen and (max-width: 1200px) {
    .main-grid {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "item-1"
        "item-3"
        "item-4";
    }
}

.grid-item-1{
  background-color: yellow;
  grid-area:item-1;
}
.grid-item-3{
  background-color: blue;
  grid-area:item-3;
}
.grid-item-4{
  background-color: grey;
  grid-area:item-4;
}

.slider {
    width: auto;
    margin: 30px 50px 50px;
}

.slick-slide {
    background: $c1;
    color: white;
    padding: 40px 0;
    font-size: 30px;
    font-family: "Arial", "Helvetica";
    text-align: center;
}

.slick-prev:before, 
.slick-next:before {
    color: black;    
}

.slick-dots {
    bottom: -30px;
}

.slick-slide:nth-child(odd) {
     background: $c2;
}