*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 6.25%;
    @include respond(big-desktop) {
        font-size: 7.5%;
    }
    @include respond(tab-land) {
        font-size: 5.625%;
    }
    @include respond(tab-port) {
        font-size: 5%;
    }
    @include respond(phone) {
        font-size: 4%;
    }
}

body {
    box-sizing: border-box;
    padding: 30rem;
    //Media query
    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $medium-green;
    color: $white;
}