.mb-sm { margin-bottom: 20rem; }
.mb-md { margin-bottom: 30rem; }
.mb-lg { margin-bottom: 40rem; }
.mb-hg { margin-bottom: 80rem; }
.mt-sm { margin-top: 20rem; }
.mt-md { margin-top: 30rem; }
.mt-lg { margin-top: 40rem; }
.mt-hg { margin-top: 80rem; }